/* cores: https://coolors.co/6369d1-60e1e0-d8d2e1-b88e8d-34435e */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box; 
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #333;
    font-size: small;
    width: 110%;
}

/* CABECALHO */
header {
    display: flex;
    background-color: #b92b27;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    color: #fff;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    position: absolute;
    font-size: 3em;
    left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.logo p {
    position: absolute;
    margin-top: 50px;
    left: 10px;
}

header nav {
    display: flex;
    right: 25px;
    position: absolute;
    bottom: -10px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    padding: 0 10px 2px 10px;
    list-style: none;
}

header nav ul li a {   
    text-decoration: none;
    color: #fff;
}

/* PRINCIPAL */
main {
    position: relative;
    margin-bottom: 50px;
}

.container {    
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.pesquisa {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20%;
    margin-top: -30px;
    z-index: 1;
}

.pesquisa button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pesquisa i {
    font-size: 1.5em;
    color: #fff;
}

.pesquisa input {        
    background-color: #fff;
    height: 2em;
    width: 50vw;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 10px;
    padding-left: 20px;
    font-size: 0.8em;
}

/* POSTER */
.film {
    color: #fff;
    height: 180px;
    width: 225px;
    position: relative;
    background-color: #373B44;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.film img {
    max-width: 100%;
    object-fit: cover;
}

.film h2 {
    font-size: 0.9em;
    font-weight: lighter;
    padding-left: 10px;
    width: 170px;
}

.film p {
    padding: 10px;
    font-size: 0.9em;
}

.film .nota {
    background-color: #000a16;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.7em;
}

.film .critica {
    position: absolute;
    background-color: #fff;
    color: #000;
    opacity: 0;
    transition: 500ms ease;
    padding: 10px;
    border-radius: 10px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: contain;
    font-size: 0.7em;
}

.film:hover .critica {
    opacity: 1;    
}

.green {
    color: #00ff00;
}

.red {
    color: #ff0000;
}

.orange {
    color: orange;
}

/* RODAPE */
footer {
    color: #fff;
    display: flex;
    justify-content: center;
}