@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.MobileApps_Page {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../Assets/mobilesCurves.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
    overflow: hidden;
}

.MobileApps_Page_main {
    width: 1500px;
    height: 100vh;
    position: relative;
}

.MobileApps_Page h2 {
    position: absolute;
    left: 1em;
    font-size: 400%;
}

.Mockups > a {
    color: #000;
    text-decoration: none;
}