@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.Websites_Page {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Websites_Page_main {
    width: 1500px;
    height: 100vh;
    position: relative;
}

.Websites_Page h2 {
    position: absolute;
    left: 2em;
    font-size: 400%;
}
