@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.contact {
  background-color: #222121;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  height: 210px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialNetworks {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.socialNetworks .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 100px;
  margin-right: 45px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.socialNetworks .icon > svg {
  margin-right: 5px;
  height: 25px;
}
