@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.navbar__menu {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  list-style: none;
  text-align: center;
  margin-right: 24px;
  background-color: #000;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  color: #fff;
  padding: 0px 10px 10px 10px;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  z-index: 99;
}

.navbar__menu--links {
  color: #fff;
  font-size: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  padding: 2.5px 7.5px 5px 7.5px;
}

.navbar__menu--links.active {
  color: #222121;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #fff;
  padding: 2.5px 7.5px 5px 7.5px;
}
