@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.navbar__menu {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  list-style: none;
  text-align: center;
  margin-right: 24px;
  background-color: #000;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  color: #fff;
  padding: 0px 10px 10px 10px;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  z-index: 99;
}

.navbar__menu--links {
  color: #fff;
  font-size: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  position: relative;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  padding: 2.5px 7.5px 5px 7.5px;
  cursor: pointer;
}

.navbar__menu--links:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 2px;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar__menu--links:hover:after {
  width: 75%;
  left: 12%;
}

@media screen and (max-width: 600px) { 
  .navbar__menu {
    display: none;
  }
}