@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.background_Home {
    font-family: 'Roboto', sans-serif;
    animation: gradient 20s alternate ease infinite;
    background: linear-gradient(-45deg, #E4E5E6, #00416A, #E4E5E6, #00416A, #E4E5E6) no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 300% 300%;
}

.profile_Picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.avatar {
    border-radius: 50%;
    height: 250px;
    margin-right: 100px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.legend {
    font-size: 1.4em;
    color: #fff;
    width: 200px;
    right: 6em;
    top: 30%;
}

.legend-name {
    font-size: 2em;
}

.technologies {
    margin-top: 15px;
}

.programmingLang {
    height: 30px;
    margin-left: 10px;
    z-index: 80;
}

.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;    
}

.callToAction p {
    font-size: 25px;
    color: #fff;
}

.callToAction img {
    animation: is-bouncing 1.5s ease infinite;
    position: absolute;
    bottom: -15px;
    height: 40px;
}

@keyframes gradient {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: 100% 50%;
    }
}

@keyframes is-bouncing {
    to {
        transform: translateY(10px);
    }
}

@media screen and (max-width: 600px) {
    .background_Home {
        width: 110%;
        height: 110vh;
    }
    .profile_Picture {
        transform: translate(10px);
        flex-direction: column;
        text-align: center;
    }
    .callToAction {
        transform: translate(15px);
    }
    .avatar {
        height: 170px;
        margin-bottom: 10vh;
        transform: translateX(50px);
    }
}

@media screen and (max-width: 400px) {
    .background_Home {
        width: 130%;
        height: 120vh;
    }
    .profile_Picture {
        transform: translate(20px);
        flex-direction: column;
        text-align: center;
    }
    .callToAction {
        transform: translate(25px);
    }
    .avatar {
        height: 170px;
        margin-bottom: 10vh;
        transform: translateX(50px);
    }
}