@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.UIDesign_Page {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../Assets/DesignCurve.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.UIDesign_Page_main {
  width: 1500px;
  height: 100vh;
  position: relative;
}

.UIDesign_Page h2 {
  position: absolute;
  left: 2em;
  font-size: 400%;
}

.Mockups {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Mockup_container {
  position: relative;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
  bottom: -150px;
  height: 500px;
  width: 400px;  
}

.mockup {
  height: 350px;
  cursor: pointer;
  transition: 1s ease;
}

.mockup:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .UIDesign_Page {
    height: 200vh;
    overflow: visible;
  }
  .UIDesign_Page_main {
    transform: translate(10px, -450px);
    width: 100vw;
  }
  .UIDesign_Page h2 {
    font-size: 350%;
    left: 1em;
  }
  .Mockups {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .UIDesign_Page {
    height: 250vh;
    overflow: visible;
  }
  .UIDesign_Page_main {
    transform: translateY(-550px);
    width: 100vw;
  }
  .UIDesign_Page h2 {
    font-size: 350%;
    left: 1em;
  }
  .Mockups {
    flex-direction: column;
  }
}