@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.UIDesign_Page {
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../Assets/DesignCurve.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.UIDesign_Page_main {
  width: 1500px;
  height: 100vh;
  position: relative;
}

.UIDesign_Page h2 {
  position: absolute;
  left: 50px;
  font-size: 400%;
}

.Mockups {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Mockup_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -150px;
  height: 500px;
  width: 400px;
  border: 1px solid black;
}

.mockup {
  height: 350px;
}
