@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,900&display=swap');

.UIDesign_Page {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.UIDesign_Page h2 {
    position: absolute;
    left: 50px;
    font-size: 4em;
}